<?php namespace Someline\Models\Image;


use Someline\Image\Models\SomelineImageBase;

class SomelineImage extends SomelineImageBase
{

    /**
     * @return array
     */
    public function transform()
    {
        $data = parent::transform();
        $data['image_url'] = $this->getImageUrl();

        if ($this->hasPivot()) {
            $parent = $this->getPivotParent();
//            if ($parent instanceof SomelineProduct) {
//                $data['product_image_url'] = $this->getProductImageUrlAttribute();
//            }
        }
        return $data;
    }

    /**
     * @param null $type
     * @return null|string
     */
    public function getDefaultImageUrl($type = null)
    {
//        return url('images/default.jpg');
        return null;
    }

    /**
     * For usage: $somelineImage->cover_image_url;
     *
     * @return null|string
     */
    public function getCoverImageUrlAttribute()
    {
        return $this->getTypeImageUrl('cover');
    }

}